/*
    Folha de  estilo do site portifólio de uma página
    @author OgliariNatan
*/

/* CSS RESET, remove todas as bordas e margens que os navegadores aplicam por definição */
*{
    margin: 0;
    border: 0;
    padding: 0;
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>> */

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px){ /* se a tela for deste tamanho irá estilizar por aqui*/
    body{
        background-color: #8197e3;
    }
}

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px){ /* se a tela for deste tamanho irá estilizar por aqui*/
    body{
        background-color: #5154c4;
    }
}
/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px){ /* se a tela for deste tamanho irá estilizar por aqui*/
    body{
        background-color: #999bdd;
    }
}
/* Computador pessoal>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 1200px){ /* se a tela for deste tamanho irá estilizar por aqui*/
    body{
        background-color: #d16190;
    }
}