/*
    Folha de  estilo do site portifólio de uma página
    @author OgliariNatan
*/

/* CSS RESET, remove todas as bordas e margens que os navegadores aplicam por definição */
*{
    margin: 0;
    border: 0;
    padding: 0;
}


/* Importação de Fontes (Google fonts) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>> */

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px){ /* se a tela for deste tamanho irá estilizar por aqui*/
    body{
        background-color: #8197e3;
    }
}

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px){ /* se a tela for deste tamanho irá estilizar por aqui*/
    body{
        background-color: #5154c4;
    }
}
/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px){ /* se a tela for deste tamanho irá estilizar por aqui*/
    body{
        background-color: #999bdd;
    }
}
/* Computador pessoal>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 1200px){ /* se a tela for deste tamanho irá estilizar por aqui*/
    body{
        background-color: #d16190;
    }
}