/*
    Folha de  estilo do site portifólio de uma página
    @author OgliariNatan
*/

/* Importação de Fontes (Google fonts) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}

/* CSS RESET, remove todas as bordas e margens que os navegadores aplicam por definição */
*{
    margin: 0;
    border: 0;
    padding: 0;
}

/* LAYOUT */
.Container {
    margin: 0 auto;
}

.Botao {
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
    font-weight: 700;
    background-color: blanchedalmond;
    padding: 10px 40px;
    border: 2px solid #000;
    border-radius: 15px;
}

/* Ajusta cabeçalho, display flexivel */
.Flex {
    display: flex;
    justify-content: space-between;
}

.Flex2 {
    display: flex;
    align-items: center;
}

.Flex3 {
    display: flex;
    flex-direction: column;
}

/* Topo do site */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}


nav ul { /* Para ajustar ao tamanho da tela o menu */
    list-style: none;
    background-color: #343538;
    height: 100vh; /* Ajusta o menu ao tamanho total da tela */
    position: fixed;
    top: 68px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
} 

/* Esconde menu */

#check:checked ~ ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}


/* repositorio */

.Card {
    margin-top: 25px;
    width: 305px;
    height: 520px;
    background-color: #e8e8e8;
    border: 1px solid #a1a1a1;
    border-radius: 25px;
    text-align: center;

}

.Card img {
    border-radius: 25px 25px 0px 0px;
}

.Card h3 {
    margin-top: 15px;
}

.Card p {
    text-align: left;
    color: #434343;
    padding: 10px 30px 50px 30px;
}

.Card a {
    padding: 10px 100px;
    border: 0;
}


/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>> */
/* Cabeçalho */
header {
    height: 60px;
}
#logo img {
    width: 50px;
    height: 63px;
}

#check{
    display: none;
}

label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: rgba(0, 0, 0, 0.5);
}
/* Destaque */
main {
    height: 75vh;/* Equivave a 75% da tela independe do dispositivo */
    background: url(img/cavalo.jpg);
    background-size: cover;
    background-position: center;
    /* color: #343538; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1 {
    font-size: 2.5em;
}

main h2 {
    font-size: 1em;
    margin: 20px 0px 50px 0px;
}

/* Sobre */
#sobre {
    padding: 50px 0px;
    background: url(img/logo.jpg);
    background-size: cover;
    background-position: center;
}

.destaqueSobre {
    display: none; /* Remove da tela o identificador */
}

#textoSobre {
    color: #000;
    padding: 0px 10px;
}

#textoSobre h2 {
    margin-bottom: 10px;
}


.TopicosSobre {
    margin-top: 20px;
    /* font-size: 5em; */
}
.TopicosSobre img {
    margin-right: 20px;
}

/* Projetos */
#projetos {
    padding: 50px 10px;
    /* background: url(img/logo.jpg); */
    /* background-size: cover; */
    /* background-position: center; */
}

#projetos h2 {
    margin-bottom: 10px;
}
#projetos p {
    margin-bottom: 25px;
}

#video iframe {
    width: 340px;
    height: 191px;
    border: 0;
}


/* Formação */

#formacao {
    padding: 50px 0px;
    background: url(img/logo.jpg);
    background-size: cover;
    background-position: center;
}


#textoformacao {
    color: #000;
    padding: 0px 10px;
}

#textoformacao h2 {
    margin-bottom: 10px;
}

#textoformacao p {
    margin-bottom: 40px;
}

#textoformacao span {
    display: none;
}

#qrcode {
    display: none;
}
/* Repositorio do github */
#repositorio {
    padding: 50px 0px;
}

#repositorio h2 {
    margin-bottom: 25px;
    text-align: center;
}

#todos {
    margin-top: 50px;
    text-align: center;
}

#todos a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1.25em;
}



/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) { /* se a tela for deste tamanho irá estilizar por aqui*/
    
    /* Layout */
    .Container {
        max-width: 540px;
    }
    /* Destaque fundo */
    main h1, main h2 {
        text-shadow: #000 0.05em 0.05em 0.05em;
    }
    /* Projetos */
    #video iframe {
        width: 560px;
        height: 315px;
    }
}

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) { /* se a tela for deste tamanho irá estilizar por aqui*/
   
    /* Layout */
    .Container {
        max-width: 720px;
    }
    /* Destaque */
    main {
        height: 45vh;
    }
    main h1 {
        font-size: 5.5em;
    }
    main h2 {
        font-size: 2em;
    }
}



/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) { /* se a tela for deste tamanho irá estilizar por aqui*/
    
    /* Layout */
    .Container {
        max-width: 960px;
    }
    /* Destaque */
    main {
        height: 75vh;
    }
}
/* Computador pessoal>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 1200px) { /* se a tela for deste tamanho irá estilizar por aqui*/
    
    /* Layout */
    .Container {
        max-width: 1140px;
    }
    /* Cabeçalho */
    header {
        height: 120px;
    }
    #logo img {
        width: 100px;
        height: 126px;
        margin-top: 5px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 40px;
    }

    nav ul li {
        float: left;
        border: 0;
        
    }
    
    nav ul li a {
        color: #343538
    }

    nav ul li a:hover { /* Ao posicionar o mause em cima */
        color: #227da1;
    }

    /* Sobre */
    #sobre {
        background-attachment: fixed;
    }
    .destaqueSobre {
        display: inline;
    }

    .TopicosSobre img {
        border-radius: 50%;
        margin-right: 50px;
    }
    /* Projetos */
    .Flex3 {
        flex-direction: row;
        align-items: center;
    }

    /* Formação */
    #textoformacao {
        background-attachment: fixed;
    }

    #textoformacao span {
        display: inline;
    }

    #qrcode {
        display: inline;
    }
    #qrcode img {
        width: 150px;
        height: 150px;
    }
}